.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
docs
inst/doc
test_data/*
*.md
pandoc*
*.htmltest_data/*
installation_and_funcs.Rmd
installation_and_funcs.html
installation_and_funcs.nb.html
/doc/
/Meta/
